{% extends 'base.html.twig' %}

{% block title %}Commune index{% endblock %}

{% block body %}
    <h1>Commune index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code_insee</th>
                <th>Name_commune</th>
                <th>Code_postal</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td>{{ commune.id }}</td>
                <td>{{ commune.codeInsee }}</td>
                <td>{{ commune.nameCommune }}</td>
                <td>{{ commune.codePostal }}</td>
                <td>{{ commune.libelle }}</td>
                <td>
                    <a href="{{ path('app_commune_show', {'id': commune.id}) }}">show</a>
                    <a href="{{ path('app_commune_edit', {'id': commune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commune_new') }}">Create new</a>
{% endblock %}
