{% extends 'base.html.twig' %}

{% block title %}Commune{% endblock %}

{% block body %}
    <h1>Commune</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commune.id }}</td>
            </tr>
            <tr>
                <th>Code_insee</th>
                <td>{{ commune.codeInsee }}</td>
            </tr>
            <tr>
                <th>Name_commune</th>
                <td>{{ commune.nameCommune }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ commune.codePostal }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ commune.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commune_index') }}">back to list</a>

    <a href="{{ path('app_commune_edit', {'id': commune.id}) }}">edit</a>

    {{ include('commune/_delete_form.html.twig') }}
{% endblock %}
