{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div>
    {# On liste tout les user #}
    <h1>Avatar</h1>
    {{ avatar | raw }}
</div>
{% endblock %}
