<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
            body{
               font-family: 'Montserra', sans-serif;
            }
            .avatar{
                width: 100px;
                height: 100px;
            }
        </style>
    </head>
    <body>
    <main>
        {% block body %}
            Hello World!
        {% endblock %}
    </main>
    </body>
</html>
